# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

In [2]:
def print_name(a_string):
    return f"Hello, {a_string}"

print_name('Ripal')

'Hello, Ripal'

#### Syntax

#### Saving to a Variable

In [4]:
b_print_name = lambda name: f"Hello, {name}"

b_print_name('Nicole')

'Hello, Nicole'

#### Multiple Inputs

In [5]:
nums_list = [1, 2, 3, 4, 5, 6, 7]

def mathing(num_1, num_2):
    return num_1 * num_2

mathing(56, 3)

168

In [6]:
add_nums = lambda a, b: a^b

In [7]:
add_nums(5, 2)

7

#### Passing a Lambda into a Function

#### Returning a Lambda from a Function

In [8]:
def add(x, y):
    return x+y

add(6, 7)

13

In [9]:
def my_func(another_func, num):
    return another_func(num)

In [10]:
func_a = lambda n:n**2
func_b = lambda n:n**3

In [12]:
my_func(func_b, 4)

64

In [23]:
def not_found():
    print('Sorry you are not found in our system. Please contact the system administrator. ')

def found():
    print('Welcome, nice to see you again. ')

def greet(a_func, name='Gerald'):
    return a_func(name)

greet(lambda n:not_found() if n != 'Gerald' else found(), name='Gerald')

Welcome, nice to see you again.

In [ ]:
# [return statement for iterator in a_list | conditional statement]

In [27]:
names = ["lucas", 'derek', 'tatyana']
[i for i in names if i != 'derek']

['lucas', 'tatyana']

In [31]:
variable_a = 'Hawkins'

f'Hello, {variable_a}' if variable_a == 'Lang' else f"I don't know you"

"I don't know you"

In [25]:
# return expression if variable_a == True else return variable_b

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [18]:
f = lambda n: n**3
f(8)

512

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [32]:
# map(func, list)

f = lambda x:x+2

my_list = [1, 3, 5, 7, 9]

#### Using Lambda's with Map

In [37]:
for val in enumerate(my_list):
    print(val)

(0, 1)
(1, 3)
(2, 5)
(3, 7)
(4, 9)

In [36]:
list(enumerate(my_list))

[(0, 1), (1, 3), (2, 5), (3, 7), (4, 9)]

In [38]:
for i in map(f, my_list):
    print(i)

3
5
7
9
11

In [39]:
list(map(f, my_list))

[3, 5, 7, 9, 11]

#### In-Class Exercise #2 <br>

<p>Use the map function to cube each number and subract by one in the list by using a lambda function</p>

In [41]:
f_2 = lambda x:x**3-2
list(map(f_2, my_list))

[-1, 25, 123, 341, 727]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [62]:
# filter(func, list)
my_list = [1, 2, 3, 4, 7, 18]

def my_func(num):
    if num < 4:
        return True
    
# f = lambda x : x if x%2==0 else None
f = lambda x : x%2==0

In [63]:
list(filter(f, my_list))

[2, 4, 18]

In [64]:
list(map(f, my_list))

[False, True, False, True, False, True]

#### Using Lambda's with Filter()

In [73]:
# list(filter(lambda n:n, map(f, my_list)))
list(filter(lambda n:n%2!=0, my_list))

[1, 3, 7]

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [74]:
from statistics import mean

nums = [1, 7, 34, 76, 2, 7.6]
mean_value = mean(nums)
mean_value

21.266666666666666

In [75]:
# Retrieve a list of all values that are less/greater than the mean
list(filter(lambda n: n < mean(nums), nums))

[1, 7, 2, 7.6]

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

In [77]:
from functools import reduce

#### Syntax

In [79]:
# reduce(func, list)
my_list = [1, 2, 5, 7, 9, 10]

sum_ = 0
for i in my_list:
    sum_ += i
print(sum_)

34

In [80]:
sum(my_list)

34

In [ ]:
curr = 1
acc = 0 = 1

In [ ]:
curr = 2
acc = 1

In [83]:
def my_func(x, y):
    return x+y

In [84]:
reduce(my_func, my_list)

34

#### Using Lambda's with Reduce()

In [89]:
reduce(lambda x,y:x**y, my_list)

1

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together.</p>

In [90]:
reduce(lambda x,y:x*y, my_list)

6300

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

#### Writing a Factorial Function

#### Implementing a Base Case

In [93]:
# 5*4*3*2*1*1
# 5!

In [96]:
# 5*4*3*2*1*1

def factorial(num):
    print(num)
    # base case telling the function to stop calling itself
    if num < 1:
        return 1
    else:
        return factorial(num-1) * num

factorial(5)

5
4
3
2
1
0

120

In [97]:
5*4*3*2*1

120

#### In-Class Exercise #5 <br>
<p>Write a recursive function that adds all numbers together up to the argument given.</p>

In [98]:
def addtorial(num):
    print(num)
    # base case telling the function to stop calling itself
    if num < 1:
        return 1
    else:
        return addtorial(num-1) + num

addtorial(5)

5
4
3
2
1
0

16

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

In [99]:
def countdown(word):
    for char in word:
        print(char)
        
countdown("work")

w
o
r
k

In [100]:
def countdown(word):
    for char in word:
        return char
        
countdown("work")

'w'

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [102]:
def countdown(word):
    for char in word:
        yield char
        
for i in countdown("work"):
    print(i)

w
o
r
k

In [103]:
list(countdown('work'))

['w', 'o', 'r', 'k']

In [105]:
dict_1 = {
    'first_name': 'Lucas'
}

dict_1['first_name']

'Lucas'

In [2]:
dict_2 = {
    0: {
    'first_name': 'Lucas'
    },
    1: {
    'first_name': 'Derek'
    },
}

In [3]:
dict_2[0]

{'first_name': 'Lucas'}

In [4]:
dict_2[1]

{'first_name': 'Derek'}

In [6]:
for i in dict_2.items():
    print(i)

(0, {'first_name': 'Lucas'})
(1, {'first_name': 'Derek'})

#### In-Class Exercise #6 <br>
<p>Create a generator that accepts a number argument and yields that number squared.</p>

In [7]:
# {
#     5: 25, 
#     4: 14,
#     3: 9,
#     2: 4,
#     1: 1,
#     0: 0
# }

def square_countdown(num):
    while num >= 0:
        yield { num: num**2 }
        num-=1
        
my_dict = {}

for dict_ in square_countdown(5):
    for k, v in dict_.items():
        my_dict[k] = v

my_dict

{5: 25, 4: 16, 3: 9, 2: 4, 1: 1, 0: 0}

In [ ]:
list(square_countdown(5))

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

In [3]:
places = [' ', 'Argentina', '  ', 'San Diego', '', '   ', '', 'Boston', 'New York']
# = [Argentina, San Diego, Boston, New York]
new_places=list(filter(lambda x: x.strip(), places))
print(new_places)

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

In [2]:
# .sort(key=)
# sorted(key=)

authors = ["Connor Milliken", "Victor aNisimov", "Andrew P. Garfield", "David HassELHOFF", "Oprah wInfrey"]
sorted(authors, key = lambda n: n.split(" "))[-1].lower()

# HINT: YOU'LL NEED TO CONVERT EACH PERSON'S NAME (A STRING) INTO A LIST IN ORDER TO GRAB THE LAST NAME BY
# THE INDEX
~!@#$%&*()_+ = 1
# 123457890 = 50
# abcd = 70
# DERK = 90

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

In [1]:
places = [('Nassau', 32), ('Boston', 12), ('Los Angeles', 44), ('Miami', 29)]
places = list(map(lambda x: (x[0], x[1] * 9/5 + 32), places))
# HINT: KEEP IN MIND PEMDAS. USE THE CELCIUS - FAHRENHEIT CONVERSION
# F = C * 9/5 + 32

### Exercise #4 <br>
<p>Write a recursive function to perform the fibonacci sequence up to the number passed in.</p>

In [ ]:
def fib(n):
    if number <= 1:
        return 1
    return fib(number-1) + fib(number-2)
def num_of_iterations(number):
    for i in range(number):
        print(f'{i + 1}: {fib(i)}')